a:link    {
  color:#000000; 
  background-color:transparent; 
  text-decoration:underline;
}

a:visited {
  color:#000000;
  background-color:transparent; 
  text-decoration:underline;
}
  
a:hover   {
  color:#000000;
  background-color:transparent;
  text-decoration:none;
}

a:active  {
  color:#FF0000;
  background-color:transparent;
  text-decoration:underline;
}

html {
    font-size: 62.5%
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.625;
}

main {
  margin: 0px auto;
  width: 666px;
}

main h1 {
  margin-top: 155px;
  text-align: center;
}

ul {
    list-style: circle inside;
}

li {
  padding: 0px 20px;  
}

