a:link    {
  color:#000000; 
  background-color:transparent; 
  text-decoration:underline;
}
a:visited {
  color:#000000;
  background-color:transparent; 
  text-decoration:underline;
  }
a:hover   {
  color:#000000;
  background-color:transparent;
  text-decoration:none;
}
a:active  {
  color:#FF0000;
  background-color:transparent;
  text-decoration:underline;
}
